doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='stylesheets/estilos.css')
    link(rel='stylesheet' href='stylesheets/style.css')
    link(rel="shortcut icon", href="images/favicon.ico", type="image/x-icon")
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css')
    title Pelvis On - Preguntas
  body
    header(style='justify-content: space-between;')
      .logo(style='padding-right: 100px;')
        img(src="images/logo.jpg", alt="Lic. Florencia Calderón - Pelvis On")
      .lista(style='width: 70%;')
        nav
          ul
            li(style='font-size: 15px; font-family: Arial;')
              a(href='/') Inicio
            li(style='font-size: 15px; font-family: Arial;')
              a(href='/consultorios') Consultorios
            li(style='font-size: 15px; font-family: Arial;')
              a(href='/servicios') Servicios
            li(style='font-size: 15px; font-family: Arial;')
              a(href='/preguntas') Preguntas
            li(style='font-size: 15px; font-family: Arial;')
              a(href='/contacto') Contacto
      .redes
        nav
          ul
            li(style='font-size: 18px;')
              a(href='https://www.instagram.com/pelvis.on/' target='_blank' rel='noopener noreferrer')
                i.bi.bi-instagram
            li(style='font-size: 18px;')
              a(href='https://www.facebook.com/pelvison-104696371265794' target='_blank' rel='noopener noreferrer')
                i.bi.bi-facebook
            li(style='font-size: 18px;')
              a(href='https://api.whatsapp.com/send?phone=5493436227825' target='_blank' rel='noopener noreferrer')
                i.bi.bi-whatsapp
            li(style='font-size: 18px;')
              a(href='mailto:calderonflorenciae@gmail.com')
                i.bi.bi-envelope-fill
            li(style='font-size: 18px;')
              a(href='tel:+543436227825')
                i.bi.bi-telephone-fill
      // Menu responsive
      input#mobile(style='display: none;' type='checkbox')
      label.label-mobile2(for='mobile')
        i.bi.bi-x
      input#mobile2(style='display: none;' type='checkbox')
      label.label-mobile(for='mobile')
        i.bi.bi-list
      .menu-mobile
        .div1
          nav
            ul
              li(style='font-size: 15px; font-family: Arial;')
                a(href='/') Inicio
              li(style='font-size: 15px; font-family: Arial;')
                a(href='/consultorios') Consultorios
              li(style='font-size: 15px; font-family: Arial;')
                a(href='/servicios') Servicios
              li(style='font-size: 15px; font-family: Arial;')
                a(href='/preguntas') Preguntas
              li(style='font-size: 15px; font-family: Arial;')
                a(href='/contacto') Contacto
        .div2
          span(style='color: purple; font-family: Arial; margin-bottom: 30px; font-size: 12px;') Sigueme
          nav
            ul
              li(style='font-size: 18px;')
                a(href='https://www.instagram.com/pelvis.on/' target='_blank' rel='noopener noreferrer')
                  i.bi.bi-instagram
              li(style='font-size: 18px;')
                a(href='https://www.facebook.com/pelvison-104696371265794' target='_blank' rel='noopener noreferrer')
                  i.bi.bi-facebook
              li(style='font-size: 18px;')
                a(href='https://api.whatsapp.com/send?phone=5493436227825' target='_blank' rel='noopener noreferrer')
                  i.bi.bi-whatsapp
              li(style='font-size: 18px;')
                a(href='mailto:calderonflorenciae@gmail.com')
                  i.bi.bi-envelope-fill
              li(style='font-size: 18px;')
                a(href='tel:+543436227825')
                  i.bi.bi-telephone-fill
    main
      br
      br
      br
      .titulo-page(style='display: flex; justify-content: space-between;')
        hr.hr-titulo
        h1 Preguntas
        hr.hr-titulo
      br
      .contenido
        .contenido1
          .texto
            h1.h1p ¿Qué es el suelo pélvico?
            p
              | Es el conjunto de músculos y ligamentos que rodean la cavidad abdominal en su parte inferior. Sostienen todos los órganos pélvicos (vejiga y uretra, útero y vagina; y recto) y aseguran su normal funcionamiento. El suelo pélvico es algo dinámico, se adapta a nuestro movimiento pero siempre manteniendo una adecuada tensión que sujete los órganos dentro de la pelvis. Cuando el suelo pélvico se debilita, surgen problemas que pueden afectar al funcionamiento de los órganos pélvicos.
        br
        .contenido1
          .texto
            h1.h1p ¿Qué síntomas presenta la debilitación del suelo pélvico?
            p
              | Los principales síntomas de que puede provocar son incontinencia urinaria o fecal, molestias, dolor e incluso un prolapso de uno de los órganos pélvicos.
        br
        .contenido1
          .texto
            h1.h1p ¿Cuáles son las causas de la debilitación del suelo pélvico?
            p Los principales factores de debilitamiento del suelo pélvico son:
            ul
              li Parto natural
              li Estreñimiento crónico
              li Deportes de impacto
              li Obesidad
              li Enfermedades respiratorias crónicas y tabaquismo
              li Cirugía ginecológica o tratamientos agresivos
        br
        .contenido1
          .texto
            h1.h1p ¿Se puede prevenir la debilitación del suelo pélvico?
            p Si, Hay algunos consejos para prevenir este problema, entre los que destacan:
            ul
              li
                | Entrenar y ejercitar de regularmente los músculos del suelo pélvico con ejercicios
              li Tener buenos hábitos y técnicas para ir al baño
              li
                | Incluir de manera regular en la dieta fibras y probióticos que favorezcan la salud y el tránsito intestinal
              li Mantener un peso adecuado
              li Mantener una buena postura, especialmente al estar sentado
              li
                | Hacer actividades de bajo impacto, como abdominales hipopresivos, bicicleta, natación o elíptica
        br
        .contenido1
          .texto
            h1.h1p ¿En qué consiste el tratamiento de la debilitación del suelo pélvico?
            p
              | Si el debilitamiento no es grave, el principal tratamiento es la fisioterapia del suelo pélvico, que tiene como objetivo rehabilitar la zona afectada mediante ejercicios concretos. En el caso de que se haya generado un prolapso de algún órgano, el tratamiento adecuado es la cirugía reconstructiva de suelo pélvico.
        br
        .contenido1
          .texto
            h1.h1p ¿Cómo prepararse para la evaluación?
            p
              | No es necesario que traigas nada ni que lleves puesta una vestimenta especial, pero siempre es útil tener una lista de cualquier medicamento que tomes.
        br
        .contenido1
          .texto
            h1.h1p ¿Qué rehabilíta o trata un kinesiólogo de piso pélvico?
            p Lo anteriormente nombrado más otros problemas como:
            ul
              li Incontinencias urinarias
              li Incontinencias fecales
              li Constipación / estreñimiento
              li Vejiga hiperactiva
              li disfunciones sexuales (dispareunia, vaginismo)
              li Prolapsos de órganos pélvicos
              li Diástasis abdominal
              li Pre y postparto
              li Dolor pélvico crónico
              li Neuralgía del pudendo
              li Dolor abdominal tras cirugías (abordamos todo el complejo abdominolumbopélvico)
              li Tratamiento de cicatrices de cesárea y episiotomía
              li Hipertonía del suelo pélvico
    script(src="/javascripts/scroll.js")
    footer.footer2
      div
        span
          | Copyright © 2021 Pelvis On. Todos los derechos reservados. Desarrolado por 
          a(href='http://instagram.com/emicalderon24/' target='_blank' rel='noopener noreferrer') @emicalderon24
