.contenido-pro {
    display: block;
    max-width: 30%;
    border: 1px pink solid;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
.contenido-pro img {
    width: 100%;
}
 
.transition {
    -webkit-transform: scale(1.05); 
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 2px 2px 5px rgb(236, 149, 163);
}

#buscar {
    width: 100%;
    font-size: 13px;
    background-color: whitesmoke;
    padding: 5px 5px 5px 10px;
    border-radius: 15px 0px 0px 15px;
    border: 1px gray solid;
}
#buscar:focus {
    outline: none;
}
.lupa {
    background-color: whitesmoke;
    border: 1px gray solid;
    padding: 4px 9px 4px 4px;
    border-radius: 0px 15px 15px 0px;
}
.lupa:hover {
    cursor: pointer;
}

.contenido-ver {
    font-family: Arial;
    padding-top: 50px;
    display: flex;
    margin: auto;
    margin-left: 10%;
    margin-right: 10%;
}
.contenido-ver h1 {
    font-size: 50px;
}
.contenido-ver h2 {
    font-size: 40px;
}

.boton-agregar {
    background-color: pink;
    padding: 10px;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(226, 105, 125);
    font-size: 20px;
    text-align: center;
    border: 1px pink solid;
    border-radius: 3px;
    transition: box-shadow;
}
.boton-agregar:hover {
    transition-duration: 0.3s;
    border: 1px pink solid;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgb(226, 105, 125);
}

.contenido-pro {
    display: block;
    max-width: 30%;
    border: 1px pink solid;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
.contenido-pro img {
    width: 100%;
}
 
.transition {
    -webkit-transform: scale(1.05); 
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 2px 2px 5px rgb(236, 149, 163);
}

.contenido-pro {
    display: block;
    max-width: 30%;
    border: 1px pink solid;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
.contenido-pro img {
    width: 100%;
}
 
.transition {
    -webkit-transform: scale(1.05); 
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 2px 2px 5px rgb(236, 149, 163);
}

#buscar {
    width: 100%;
    font-size: 13px;
    background-color: whitesmoke;
    padding: 5px 5px 5px 10px;
    border-radius: 15px 0px 0px 15px;
    border: 1px gray solid;
}
#buscar:focus {
    outline: none;
}
.lupa {
    background-color: whitesmoke;
    border: 1px gray solid;
    padding: 4px 9px 4px 4px;
    border-radius: 0px 15px 15px 0px;
}
.lupa:hover {
    cursor: pointer;
}

.textarea3 {
    display: none;
}





@media screen and (max-width: 900px) and (min-width: 641px) {
    
    main .perfil img {
        width: 300px;
    }

    main .textoport {
        top: 250px;
        left: 355px;
        font-size: 15px;
    }

    main .portada img {
        height: auto;
    }

    header .lista {
        display: none;
    }
    .redes {
        display: none;
    }

    .label-mobile {
        display: block;
    }

    header .logo img {
        width: 40px;
    }

    .perfil {
        left: 10px;
        top: 110px;
    }

    main .textoport {
        top: 150px;
        left: 325px;
        font-size: 13px;
    }

    main .portada img {
        height: 400px;
    }

    .contenido-servicios img {
        width: 200px;
    }

    .textarea3 {
        display: block;
    }
    .textarea2 {
        display: none;
    }
    .textarea1 {
        display: none;
    }

}

@media screen and (max-width: 640px) {
    
    header .logo img {
        width: 40px;
    }

    .label-mobile {
        display: block;
    }

    .perfil {
        left: 10px;
        top: 75px;
    }
    
    main .perfil img {
        width: 150px;
    }

    main .textoport {
        top: 95px;
        left: 170px;
        font-size: 8px;
    }

    main .portada img {
        height: 200px;
    }

    header .lista {
        display: none;
    }
    .redes {
        display: none;
    }

    .contenido {
        margin-left: 2%;
        margin-right: 2%;
    }

    .texto h1 {
        font-size: 20px;
    }
    .texto p {
        font-size: 10px;
    }
    .texto ul {
        padding-left: 15px;
    }
    .texto ul li {
        font-size: 10px;
    }

    .h1p {
        font-size: 20px;
    }

    .form-contacto .textarea1 {
        display: none;
    }
    .form-contacto .textarea2 {
        display: block;
    }

    .titulo-page h1 {
        font-size: 20px;
    }
    .hr-titulo {
        width: 20%;
    }

    .contenido-servicios img {
        width: 150px;
    }

    .contenido-servicios {
        border-left: 0px pink solid;
        border-right: 0px pink solid;
    }

    .textarea3 {
        display: none;
    }

    .h-redes {
        font-size: 12px;
    }

    .redes-m nav ul li {
        display: inline-block;
        font-size: 18px;
    }

    .hr-contenido {
        margin-left: 18%;
        margin-right: 18%;
    }

    .error-msj {
        color: red;
        font-size: 11px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .success-msj {
        color: green;
        font-size: 11px;
        font-family: Arial, Helvetica, sans-serif;
    }

}